.section-content {
  overflow: visible !important;
}

.app-section {
  overflow: visible !important;
}

.app-table-wrapper {
  overflow: visible !important;
}

.app-table {
  overflow: visible !important;
}
